extends ../layout

block content
  h2 Usuń: #{client.first_name} #{client.last_name}
  p Czy na pewno chcesz usunąć tego fryzjera?
    
    form(method='POST' action='')
      div.form-group
        input#clientid.form-control(type='hidden',name='clientid', required='true', value=client._id )

      button.btn.btn-primary(type='submit') Usuń