extends layout

block content
  
  div
    a(href="hairdressers/create") #{"Utwórz nowe konto fryzjera"}

  div
    p Lista fryzjerów
    dl
      each hairdresser in hairdresser_list
          dt
              a(href=hairdresser.url) #{hairdresser.first_name + " " + hairdresser.last_name}
          dd
              p #{hairdresser.notes}