extends layout

block content
  p Witaj w panelu administracyjnym salonu Cleopatra
  a(class='button' href="reservations") Rezerwacje 
  a(class='button' href="timetable") Harmonogram
  a(class='button' href="hairdressers") Fryzjerzy
  a(class='button' href="profiles") Profile
  a(class='button' href="history") Historia
